#Question3

In [1]:
import pandas as pd 
import numpy as np

In [32]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics
from sklearn.cross_validation import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('bodyfat.csv')

In [4]:
df.head()

,Unnamed: 0,case,brozek,siri,density,age,weight,height,neck,chest,abdomen,hip,thigh,knee,ankle,biceps,forearm,wrist
0,1,1,12.6,12.3,1.0708,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,2,2,6.9,6.1,1.0853,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,3,3,24.6,25.3,1.0414,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,4,4,10.9,10.4,1.0751,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,5,5,27.8,28.7,1.0340,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [15]:
df.drop(["case",],axis=1,inplace=True)

In [18]:
df_new = df

In [19]:
df_new.head()

,brozek,siri,density,age,weight,height,neck,chest,abdomen,hip,thigh,knee,ankle,biceps,forearm,wrist
0,12.6,12.3,1.0708,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,6.9,6.1,1.0853,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,24.6,25.3,1.0414,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,10.9,10.4,1.0751,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,27.8,28.7,1.0340,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [23]:
y= df_new["density"]
X = df_new.drop(["density"],axis=1)

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=154, )

In [26]:
lm = LinearRegression()

In [27]:
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [28]:
# print the intercept
print(lm.intercept_)

1.10111420245

In [29]:
coeff_df = pd.DataFrame(lm.coef_,X.columns,columns=['Coefficient'])
coeff_df

         Coefficient
brozek     -0.002803
siri        0.000381
age         0.000016
weight      0.000047
height     -0.000002
neck        0.000039
chest       0.000078
abdomen    -0.000175
hip         0.000095
thigh      -0.000065
knee       -0.000083
ankle      -0.000251
biceps     -0.000240
forearm     0.000033
wrist       0.000451

In [30]:
predictions = lm.predict(X_test)

In [34]:
#metrics to check the regression
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 0.000658447174653
MSE: 6.029710421e-07
RMSE: 0.000776512100421

In [ ]:
#Because the value of MAE is very small once can use indirect method

In [ ]:
#Question Part 4a
#The national mean height is the weighted average of gender-specific mean heights
#Sum of individual probabilities is equal to the total probability

In [ ]:
#Question Part 4a
#The mean height of people taller than 70" is the weighted average of gender-specific mean heights of this subset
#Sum of individual probabilities is equal to the total probability